html,
body {
    height: 100%;
    min-height: 100%;
}

.container-fluid {
    width: 84%;
    margin: 0 8% 0 8%
}

.custom-select {
    width: fit-content;
}

#filter-input {
    margin-top: 20px
}

header {
    padding-left: 25px;
}

.card {
    width: 100%;
}

.bubble-chart {
    height: 90vh
}

/* .axis path {
    display: none;
} */

.axis line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.country-select {
    min-width: 100%
}